<html>
<body>
    <h4>Registration Successful</h4>
    <p>Before you can Log In, confirm your email by clicking on the confirmation link sent to your email. This link will expire in 3 hours, if you would like to resend the code, click 
     <a asp-action="ResendConfirmation" asp-controller="account">here</a>.</p>
</body>
</html>

