@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <html>
<body>
    <h4>Registration Successful</h4>
    <p>Before you can Log In, confirm your email by clicking on the confirmation link sent to your email.</p>
</body>
</html>
}
