@model SportsAdministrationApp.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "User Registration";
}
<script src="Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>

<h1>User Registration</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team"></label>
                <input asp-for="Team" class="form-control" />
                <span asp-validation-for="Team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('input[type="radio"]').click(function () {
                        var inputValue = $(this).attr("value");
                        var targetBox = $("." + inputValue);
                        $(".box").not(targetBox).hide();
                        $(targetBox).show();
                    });
                });
            </script>
            <div>
                <span>Enable Two Factor Authentication? (Strongly Recommended) </span>
                <label><input id="TwoFactorEnabled" type="radio" name="TwoFactorEnabled" value="true"> Yes</label>
                <label><input id="TwoFactorEnabled" type="radio" name="TwoFactorEnabled" value="false"> No</label>
            </div>


            <div style="display:none" class="true box">
                <span>What implementation of 2FA would you like?</span>
                <select class="form-control" id="TotpEnabled" name="TotpEnabled">
                    <option value="true">Google Authenticator</option>
                    <option value="false">Email</option>
                </select>            
            </div>
            <div style="display:none" class="false box">
                <label>If you choose not to enable Two Factor Authentication, you can turn it on later by visiting account settings.</label>
            </div>
                <br />
                <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]"></div>

                <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>



@Html.AntiForgeryToken()
@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
}
