@model SportsAdministrationApp.ViewModels.TotpConfirmViewModel
@{
    ViewBag.Title = "Confirm 2FA Code";
}
<h1>Confirm 2FA code</h1>
<h6>If you have not yet enabled Google Authenticator, click <a asp-action="SetUpTotp" asp-controller="account">here</a> for instructions on enabling it.</h6>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>
@Html.AntiForgeryToken()
