@model SportsAdministrationApp.ViewModels.HomeDetailsViewModel 
<html>
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>

    <div>
        Name : @Model.User.Name
    </div>
    <div>
        Email : @Model.User.Email
    </div>
    <div>
        Team : @Model.User.Team
    </div>
</body>
</html>