@model IEnumerable<SportsAdministrationApp.Models.User>
<-- -->User Details Page, displays details of all users</-->
<html>
<head>
    <title>Employee List</title>
</head>
<body>
            <div class="card-deck">
            @foreach (var user in Model)
            {
                <div class="card m-3">
                    <div class="card-header">
                        <h3>@user.Name</h3>
                </div>
                    <div class="card-body" text-center>
                        <a href="#" class="btn btn-primary">View</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            }
            </div>
</body>
</html>